@font-face {
	font-family: 'Rubik';
	src: url('/assets/fonts/Rubik-Bold.ttf');
}
@font-face {
	font-family: 'Kiona Italic';
	src: url('/assets/fonts/Kiona-Italic.ttf');
}
@font-face {
	font-family: 'Kiona';
	src: url('/assets/fonts/Kiona-Regular.ttf');
}
@font-face {
	font-family: 'RubikLight';
	src: url('/assets/fonts/Rubik-Regular.ttf');
}

/* ------- HEADER ------- */

.Logo {
	height: 100%;
	padding-left: 20px;
}

.HeaderList {
	list-style: none;
	display: flex;
	gap: 20px;
	font-weight: bold;
}

.BtnHeader {
	width: 692px;
	display: flex;
	gap: 10px;
	align-items: center;
}

.leftHeader {
	display: flex;
	align-items: center;
}

.div-header {
	position: relative;
}

/* ----------- HAMBURGER ---------- */

/* --------- HERO ONE ---------- */

.HeroTwoo {
	z-index: 5;
}

.HeroOneImage {
	width: 100%;
	/* position: absolute;
	right: -84px; */
}

.HeromImgContainer {
	display: flex;
	height: 800px;
}

.HeroTitle {
	width: 500px;
}
.HeroTitle h2 {
	font-size: 35px;
	font-family: 'Rubik';
}

.HeroImage {
	width: 625px;
}

.titleHeroOne {
	margin-bottom: 20px;
}

/* ----------- HERO TWO ----------- */
.titleWBtn {
	width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.TitleHero {
	font-family: 'Kiona';
	font-size: 35px;
}

.imgGamesContnainer {
	width: 180px;
	border-radius: 10px;
}

.detailCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.cardGames {
	display: flex;
	gap: 38px;
	cursor: pointer;
	margin-bottom: 40px;
}

.CardPostHero {
	display: flex;
	gap: 20px;
	padding: 20px 20px 20px 0px;
	align-items: center;
}

.CardPostHero2 {
	display: flex;
	gap: 20px;
	padding: 20px 20px 20px 0px;
	align-items: center;
}

.backTitlePostMAIN {
	background-color: rgb(0, 0, 0);
	color: white;
	margin-bottom: -17px;
	padding-left: 20px;
}

.backTitlePost {
	background-color: rgba(0, 0, 0, 0.63);
	padding: 22px 0px 40px 22px;
	color: white;
}

.rightPosts {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.columRight {
	gap: 20px;
	display: flex;
	flex-direction: column;
}

.marioImg {
	width: 300px;
	position: absolute;
	left: -204px;
	transform: rotate(17deg);
	z-index: 2;
}

/* --------- HERO 3 ----------- */

.youtubePlayer {
	border-radius: 10px;
}

/* --------- FAQ ---------- */

.column1 {
	display: flex;
}

/* ---------- BOTONES ---------- */

.Play {
	z-index: 10;
}

/* ---------- MEDIA QUERIES --------- */

@media (max-width: 1142px) {
	#game5Hero {
		display: none;
	}
	#game1Hero {
		display: none;
	}

	.titleWBtn {
		width: 500px;
	}
	.columRight {
		flex-direction: row;
		gap: 10px;
		justify-content: center;
	}
	.css-bv1s49-HeroTwoContainer {
		height: 1130px;
	}
	.CardPostHero2 {
		flex-direction: column;
	}
	.youtubePlayer {
		width: 506px;
	}
	.youtubeMini {
		width: 246px;
		border-radius: 10px;
	}
	.css-ykmf88-HeroThreeContainer {
		height: 792px;
	}
	.CardPostHero {
		flex-direction: column;
	}
	.rightPosts {
		display: flex;
	}
	.css-1041dmj-HeroOnee {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}
	.HeroLeftContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.HeaderList {
		display: none;
	}
}

@media (max-width: 700px) {
	.imgGamesContnainer {
		width: 93px;
	}

	.css-rs5kus-ImageWrapper {
		font-size: 14px;
		width: 213px;
		height: 130px;
	}
	.youtubePlayer {
		width: 331px;
		height: 200px;
	}
	.youtubeMini {
		width: 160px;
		height: 132px;
	}
	.CardPostHero {
		width: 362px;
		height: 426px;
	}
	.leftPosts div {
		width: 340px;
		height: 177px;
	}
	.backTitlePostMAIN {
		font-size: 16px;
		padding-left: 54px;
	}
	.backTitlePost {
		display: none;
	}
	.titleWBtn {
		width: 323px;
	}
	.HeroTitle {
		width: 288px;
	}
	.TitleHero {
		text-align: center;
	}
	.HeroImage {
		width: 370px;
	}
	.css-bv1s49-HeroTwoContainer {
		height: 778px;
	}
	.css-ykmf88-HeroThreeContainer {
		height: 548px;
	}
	.columnFAQ {
		font-size: 12px;
	}
}

/* ---------------- REGISTER ------------ */

.button-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.submitBtn {
	background-color: #2b2b2b;
	border-radius: 3px;
	border: none;
	color: white;
	font-size: 20px;
	padding: 10px;
}

.submitBtn:hover {
	background-color: rgb(129, 32, 32);
	cursor: pointer;
}

.labelSpan {
	text-align: center;
}

input {
	height: 35px;
	border-radius: 19px;
	background-color: white;
	color: black;
	font-size: 20px;
	border: none;
	box-shadow: inset rgba(0, 0, 0, 0.132) -2px 3px 3px;
}

.button-wrapper span.label {
	position: relative;
	z-index: 0;
	display: inline-block;
	width: 100%;
	background: var(--background-color);
	cursor: pointer;
	color: #fff;
	padding: 10px 0;
	text-transform: uppercase;
	font-size: 12px;
}

input[type='file'] {
	opacity: 0;
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	z-index: -1;
	position: absolute;
}

.file-button {
	display: block;
	width: 200px;
	border-radius: 10px;
	text-align: center;
	justify-content: center;
	color: black;
	background-color: rgb(221, 221, 221);
	font-size: 20px;
	padding: 8px 0px;
}

.infoTopDetail {
	color: rgb(134, 90, 166);
}

.plataformaIcon {
	height: 50px;
}

/* ---------------- FONT ------------ */
.descripcionText {
	font-family: 'RubikLight';
	font-size: 20px;
	overflow-y: scroll;
}

.titleDetail {
	font-family: 'RubikLight';
	text-transform: uppercase;
}
